--
-- PostgreSQL database dump
--

\restrict U17tFYf6fvobhT0ghkYGtwhjLjxnQhg7h3ckwaAHJhgx1pFuEUOG88MDte4Hhvn

-- Dumped from database version 18.4
-- Dumped by pg_dump version 18.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: finance_user
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO finance_user;

--
-- Name: holdings; Type: TABLE; Schema: public; Owner: finance_user
--

CREATE TABLE public.holdings (
    id integer NOT NULL,
    portfolio_id integer NOT NULL,
    symbol character varying(40) NOT NULL,
    quantity numeric(18,4) NOT NULL,
    average_price numeric(18,4) NOT NULL,
    exchange character varying(20) NOT NULL
);


ALTER TABLE public.holdings OWNER TO finance_user;

--
-- Name: holdings_id_seq; Type: SEQUENCE; Schema: public; Owner: finance_user
--

CREATE SEQUENCE public.holdings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.holdings_id_seq OWNER TO finance_user;

--
-- Name: holdings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: finance_user
--

ALTER SEQUENCE public.holdings_id_seq OWNED BY public.holdings.id;


--
-- Name: portfolios; Type: TABLE; Schema: public; Owner: finance_user
--

CREATE TABLE public.portfolios (
    id integer NOT NULL,
    user_id integer NOT NULL,
    name character varying(120) NOT NULL,
    description character varying(500),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.portfolios OWNER TO finance_user;

--
-- Name: portfolios_id_seq; Type: SEQUENCE; Schema: public; Owner: finance_user
--

CREATE SEQUENCE public.portfolios_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.portfolios_id_seq OWNER TO finance_user;

--
-- Name: portfolios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: finance_user
--

ALTER SEQUENCE public.portfolios_id_seq OWNED BY public.portfolios.id;


--
-- Name: uploaded_datasets; Type: TABLE; Schema: public; Owner: finance_user
--

CREATE TABLE public.uploaded_datasets (
    id integer NOT NULL,
    user_id integer NOT NULL,
    dataset_type character varying(40) NOT NULL,
    filename character varying(255) NOT NULL,
    content_type character varying(120),
    row_count integer NOT NULL,
    payload json NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.uploaded_datasets OWNER TO finance_user;

--
-- Name: uploaded_datasets_id_seq; Type: SEQUENCE; Schema: public; Owner: finance_user
--

CREATE SEQUENCE public.uploaded_datasets_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.uploaded_datasets_id_seq OWNER TO finance_user;

--
-- Name: uploaded_datasets_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: finance_user
--

ALTER SEQUENCE public.uploaded_datasets_id_seq OWNED BY public.uploaded_datasets.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: finance_user
--

CREATE TABLE public.users (
    id integer NOT NULL,
    name character varying(120) NOT NULL,
    email character varying(255) NOT NULL,
    hashed_password character varying(255) NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.users OWNER TO finance_user;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: finance_user
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO finance_user;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: finance_user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: watchlist_items; Type: TABLE; Schema: public; Owner: finance_user
--

CREATE TABLE public.watchlist_items (
    id integer NOT NULL,
    user_id integer NOT NULL,
    symbol character varying(40) NOT NULL,
    exchange character varying(20) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.watchlist_items OWNER TO finance_user;

--
-- Name: watchlist_items_id_seq; Type: SEQUENCE; Schema: public; Owner: finance_user
--

CREATE SEQUENCE public.watchlist_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.watchlist_items_id_seq OWNER TO finance_user;

--
-- Name: watchlist_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: finance_user
--

ALTER SEQUENCE public.watchlist_items_id_seq OWNED BY public.watchlist_items.id;


--
-- Name: holdings id; Type: DEFAULT; Schema: public; Owner: finance_user
--

ALTER TABLE ONLY public.holdings ALTER COLUMN id SET DEFAULT nextval('public.holdings_id_seq'::regclass);


--
-- Name: portfolios id; Type: DEFAULT; Schema: public; Owner: finance_user
--

ALTER TABLE ONLY public.portfolios ALTER COLUMN id SET DEFAULT nextval('public.portfolios_id_seq'::regclass);


--
-- Name: uploaded_datasets id; Type: DEFAULT; Schema: public; Owner: finance_user
--

ALTER TABLE ONLY public.uploaded_datasets ALTER COLUMN id SET DEFAULT nextval('public.uploaded_datasets_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: finance_user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: watchlist_items id; Type: DEFAULT; Schema: public; Owner: finance_user
--

ALTER TABLE ONLY public.watchlist_items ALTER COLUMN id SET DEFAULT nextval('public.watchlist_items_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: finance_user
--

COPY public.alembic_version (version_num) FROM stdin;
5db1cdd15957
\.


--
-- Data for Name: holdings; Type: TABLE DATA; Schema: public; Owner: finance_user
--

COPY public.holdings (id, portfolio_id, symbol, quantity, average_price, exchange) FROM stdin;
1	1	RELAINCE	7.0000	1250.0000	NSE
3	1	TRIDENT	25.0000	20.0000	NSE
\.


--
-- Data for Name: portfolios; Type: TABLE DATA; Schema: public; Owner: finance_user
--

COPY public.portfolios (id, user_id, name, description, created_at, updated_at) FROM stdin;
1	1	Balaji	Long	2026-07-16 13:05:27.224337+05:30	2026-07-16 13:05:27.224337+05:30
\.


--
-- Data for Name: uploaded_datasets; Type: TABLE DATA; Schema: public; Owner: finance_user
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: finance_user
--

COPY public.users (id, name, email, hashed_password, is_active, created_at) FROM stdin;
1	Balaji	balaji.t@fundsindia.com	$2b$12$iP4PFFt.z3lxDEkYgT/5SuM.1t2LmaCWb9NnC0XTiyOdSI2bIBDyG	t	2026-07-16 13:02:56.709386+05:30
\.


--
-- Data for Name: watchlist_items; Type: TABLE DATA; Schema: public; Owner: finance_user
--

COPY public.watchlist_items (id, user_id, symbol, exchange, created_at) FROM stdin;
\.


--
-- Name: holdings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: finance_user
--

SELECT pg_catalog.setval('public.holdings_id_seq', 3, true);


--
-- Name: portfolios_id_seq; Type: SEQUENCE SET; Schema: public; Owner: finance_user
--

SELECT pg_catalog.setval('public.portfolios_id_seq', 1, true);


--
-- Name: uploaded_datasets_id_seq; Type: SEQUENCE SET; Schema: public; Owner: finance_user
--

SELECT pg_catalog.setval('public.uploaded_datasets_id_seq', 7, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: finance_user
--

SELECT pg_catalog.setval('public.users_id_seq', 1, true);


--
-- Name: watchlist_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: finance_user
--

SELECT pg_catalog.setval('public.watchlist_items_id_seq', 1, false);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: finance_user
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: holdings holdings_pkey; Type: CONSTRAINT; Schema: public; Owner: finance_user
--

ALTER TABLE ONLY public.holdings
    ADD CONSTRAINT holdings_pkey PRIMARY KEY (id);


--
-- Name: portfolios portfolios_pkey; Type: CONSTRAINT; Schema: public; Owner: finance_user
--

ALTER TABLE ONLY public.portfolios
    ADD CONSTRAINT portfolios_pkey PRIMARY KEY (id);


--
-- Name: uploaded_datasets uploaded_datasets_pkey; Type: CONSTRAINT; Schema: public; Owner: finance_user
--

ALTER TABLE ONLY public.uploaded_datasets
    ADD CONSTRAINT uploaded_datasets_pkey PRIMARY KEY (id);


--
-- Name: holdings uq_holding_portfolio_symbol; Type: CONSTRAINT; Schema: public; Owner: finance_user
--

ALTER TABLE ONLY public.holdings
    ADD CONSTRAINT uq_holding_portfolio_symbol UNIQUE (portfolio_id, symbol);


--
-- Name: portfolios uq_portfolio_user_name; Type: CONSTRAINT; Schema: public; Owner: finance_user
--

ALTER TABLE ONLY public.portfolios
    ADD CONSTRAINT uq_portfolio_user_name UNIQUE (user_id, name);


--
-- Name: watchlist_items uq_watchlist_user_symbol; Type: CONSTRAINT; Schema: public; Owner: finance_user
--

ALTER TABLE ONLY public.watchlist_items
    ADD CONSTRAINT uq_watchlist_user_symbol UNIQUE (user_id, symbol);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: finance_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: watchlist_items watchlist_items_pkey; Type: CONSTRAINT; Schema: public; Owner: finance_user
--

ALTER TABLE ONLY public.watchlist_items
    ADD CONSTRAINT watchlist_items_pkey PRIMARY KEY (id);


--
-- Name: ix_holdings_id; Type: INDEX; Schema: public; Owner: finance_user
--

CREATE INDEX ix_holdings_id ON public.holdings USING btree (id);


--
-- Name: ix_holdings_portfolio_id; Type: INDEX; Schema: public; Owner: finance_user
--

CREATE INDEX ix_holdings_portfolio_id ON public.holdings USING btree (portfolio_id);


--
-- Name: ix_holdings_symbol; Type: INDEX; Schema: public; Owner: finance_user
--

CREATE INDEX ix_holdings_symbol ON public.holdings USING btree (symbol);


--
-- Name: ix_portfolios_id; Type: INDEX; Schema: public; Owner: finance_user
--

CREATE INDEX ix_portfolios_id ON public.portfolios USING btree (id);


--
-- Name: ix_portfolios_name; Type: INDEX; Schema: public; Owner: finance_user
--

CREATE INDEX ix_portfolios_name ON public.portfolios USING btree (name);


--
-- Name: ix_portfolios_user_id; Type: INDEX; Schema: public; Owner: finance_user
--

CREATE INDEX ix_portfolios_user_id ON public.portfolios USING btree (user_id);


--
-- Name: ix_uploaded_datasets_dataset_type; Type: INDEX; Schema: public; Owner: finance_user
--

CREATE INDEX ix_uploaded_datasets_dataset_type ON public.uploaded_datasets USING btree (dataset_type);


--
-- Name: ix_uploaded_datasets_id; Type: INDEX; Schema: public; Owner: finance_user
--

CREATE INDEX ix_uploaded_datasets_id ON public.uploaded_datasets USING btree (id);


--
-- Name: ix_uploaded_datasets_is_active; Type: INDEX; Schema: public; Owner: finance_user
--

CREATE INDEX ix_uploaded_datasets_is_active ON public.uploaded_datasets USING btree (is_active);


--
-- Name: ix_uploaded_datasets_user_id; Type: INDEX; Schema: public; Owner: finance_user
--

CREATE INDEX ix_uploaded_datasets_user_id ON public.uploaded_datasets USING btree (user_id);


--
-- Name: ix_uploaded_datasets_user_type_active; Type: INDEX; Schema: public; Owner: finance_user
--

CREATE INDEX ix_uploaded_datasets_user_type_active ON public.uploaded_datasets USING btree (user_id, dataset_type, is_active);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: finance_user
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: finance_user
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: ix_watchlist_items_id; Type: INDEX; Schema: public; Owner: finance_user
--

CREATE INDEX ix_watchlist_items_id ON public.watchlist_items USING btree (id);


--
-- Name: ix_watchlist_items_symbol; Type: INDEX; Schema: public; Owner: finance_user
--

CREATE INDEX ix_watchlist_items_symbol ON public.watchlist_items USING btree (symbol);


--
-- Name: ix_watchlist_items_user_id; Type: INDEX; Schema: public; Owner: finance_user
--

CREATE INDEX ix_watchlist_items_user_id ON public.watchlist_items USING btree (user_id);


--
-- Name: holdings holdings_portfolio_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: finance_user
--

ALTER TABLE ONLY public.holdings
    ADD CONSTRAINT holdings_portfolio_id_fkey FOREIGN KEY (portfolio_id) REFERENCES public.portfolios(id) ON DELETE CASCADE;


--
-- Name: portfolios portfolios_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: finance_user
--

ALTER TABLE ONLY public.portfolios
    ADD CONSTRAINT portfolios_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: uploaded_datasets uploaded_datasets_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: finance_user
--

ALTER TABLE ONLY public.uploaded_datasets
    ADD CONSTRAINT uploaded_datasets_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: watchlist_items watchlist_items_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: finance_user
--

ALTER TABLE ONLY public.watchlist_items
    ADD CONSTRAINT watchlist_items_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict U17tFYf6fvobhT0ghkYGtwhjLjxnQhg7h3ckwaAHJhgx1pFuEUOG88MDte4Hhvn

